<a href="https://colab.research.google.com/github/sarikasea/Analytics-Vidhya/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

# Variables and Data Types

In [ ]:
a = 5
a

5

In [ ]:
# OR

print(a)

5

In [ ]:
a = 7
b = a
a = 3

In [ ]:
print(b)

7

# Operators

### *Arithmetic, Comparison, Logical Operators*

### ***Let's initialize a few variables ***

In [ ]:
a = 15       # int
b = 8       #int
c = 15.5    #float
s = 'Hello' #String

### üìçüìç ***Arithmetic Operator*** üìçüìç


 * '+' Addition  
 * '-'  Subtraction
 * '*'  Multiplication
 * '/'   Division
 * '%'  Modulus
 * '**' Exponential
 * '//' Floor Division

In [ ]:
a+b

23

In [ ]:
a-b

7

In [ ]:
b-a

-7

***'Division and Multiplication:'***

---

In [ ]:
a/b

1.875

In [ ]:
a*b

120

***Exponential:***

---

In [ ]:
2**3

8

***Floor Division and Modulo:***

---
* Floor Division Definition: result is the largest whole number (integer) that is less than or equal to the result of a division operation
* Modulo Definition: in number theory with respect to or using a modulus of a specified number. two numbers are congruent modulo a given number if they give the same remainder when divided by that number.

In [ ]:
a//b

1

In [ ]:
a%b

7

### üìçüìç ***`Comparison operators:`***

 * '=='	Equal
 * '!='	Not equal
 * '>'	Greater than
 * '<'	Less than
 * '>='	Greater than or equal to
 * '<='	Less than or equal to

In [ ]:
a==b

False

In [ ]:
a != b

True

In [ ]:
a == 51

False

In [ ]:
type (a == b)

bool

In [ ]:
a > b

True

In [ ]:
a < b

False

In [ ]:
print(a,  b)

15 8

In [ ]:
a>51

False

In [ ]:
a >= 51

False




# Logical Operator

* and
* or
* not
```

In [ ]:
(1 == 1) and (2 == 2)

True

In [ ]:
(1==1) or (3==4)

True

In [ ]:
(1 <= 2) or (2 > 3) or (4 == 4)

True


## üìåüìå Indentation and Comments in Python

***Before we start Conditional Statements, let's have a look at `indentation` and `comments` in Python.***

#### `INDENTATION`


 - Indentation means `(spaces and tabs)` that are used at the beginning of any statement. The statements with the same indentation belong to the same group also called as `suite`.

In [ ]:
a = 5
b = 6

In [ ]:
if (2 == 2):
  print('True Statement')

# expects an indentation after the if sign

True Statement

---

<center><h1> üìç üìç Conditional Statements üìç üìç </h1></center>


---
***CONDITIONAL OPERATORS***

* ***Double Equals:*** a == b
* ***Not Equals:*** a != b
* ***Less than:*** a < b
* ***Less than or equal to:*** a <= b
* ***Greater than:*** a > b
* ***Greater than or equal to:*** a >= b


---

In [ ]:
# if statement

x = 1
if (x == 1):
  print ('the condiition in the if statement is true')

the condiition in the if statement is true

In [ ]:
# if the condition in the statement is False

if (x == 3):
  print ('the condiition in the if statement is not true')

  # here we will not get any output

In [ ]:
# with one condition

a = 5
b = 10

if (a>b):
  print ('a is greater than b')

else:
  print('a is not greater than b')

a is not greater than b

In [ ]:
a = 8
b = 10

if (( a >10) and (b >10)):
  print('both the numbers are greater than 10')
elif ((a >5)and (b>5)):
  print ('both numbers are greater than 5')
else:
  print('the condition is not satisfied')

both numbers are greater than 5

#### üìç üìç Problem 1 : Take an input from a user in variable x and print "Even" if the number is divisible by 2, otherwise print "Odd".

---

In [ ]:
# take the input from the user by using the input function

x = int(input ())

if(x%2 == 0):
  print('Even')
else:
  print('Odd')

10
Even

#### üìç üìçProblem 2 : Take input from the user in variable y and print "`Grade A`" if y is greater than 90, "`Grade B`" if y is greater than 60 but less than or equal to 90 and "`Grade F`" Otherwise.

---

In [ ]:
# take input from the user by using the input function

y = input()

y = int(y)

# by default the type of is string; we need to convert yhe type first

if (y>90):
  print('Grade A')
elif (y > 60 and y <= 90):
  print('Grade B')
else:
  print('Grade F')

78
Grade B

---
---

<center><h1> üìçüìç Looping Constructs: üìçüìç</h1></center>

---

In [ ]:
# For Loop and Range Function

---

### üìçüìç **`NESTED FOR LOOPS`**

- A nested loop is a loop within a loop.
- For each step in the outer loop, the inner loop exectues completely. See the below example

---

In [ ]:
for number in range (4):
  print(number)

0
1
2
3

* when we pass 2 arguments (first one considered as START_POINT and second one as END_POINT. IT RUNS UNTIL END-POINT-1

In [ ]:
for number in range (1, 5):
  print(number)

1
2
3
4

* when we pass three arguments , start_point, end_point, and step

In [ ]:
for number in range (1, 10, 2):
  print(number)

1
3
5
7
9

In [ ]:
for number in range (0, 12, 2):
  print(number)

0
2
4
6
8
10

* problem: if i wanted to append A and B to each of the values in the above list

In [ ]:
# let's modfy the code to add 2 columns A and B and assign the
#values generated by the loop to them
#we'll need to use a data structure like a list of dictionaries to
#store the data with columns

In [ ]:
data = []

for number in range (0, 12, 2):
  data.append({"A": number, "B": number*2})

#print the data in a formatted way

for item in data:
  print(f"A: { item['A']}, B: {item['B']}")

A: 0, B: 0
A: 2, B: 4
A: 4, B: 8
A: 6, B: 12
A: 8, B: 16
A: 10, B: 20

* iterate a string using a for loop

In [ ]:
for character in "analytics_vidhya":
  print(character)

a
n
a
l
y
t
i
c
s
_
v
i
d
h
y
a

---

### üìçüìç **`NESTED FOR LOOPS`**

- A nested loop is a loop within a loop.
- For each step in the outer loop, the inner loop exectues completely. See the below example

---

In [ ]:
#define the range of the outer loop

for outer_loop in range (1,3):

  #define the inner loop
  for inner_loop in "ABC":
    print(outer_loop, inner_loop)
    #print(f"outer_loop: {outer_loop}, inner_loop: {inner_loop}")

1 A
1 B
1 C
2 A
2 B
2 C

---
---

## üìçüìç WHILE LOOP

* Another way to execute a block of code over and over again is using a while statement.
* The code in a while clause will be executed as long as the while statement‚Äôs condition is True.


---

***In the below example, we have initialize the variable `number = 0` and we will increment it's value in each iteration. The loop will only continue to run only if the value is less than 7.***

---

In [ ]:
number = 0
while (number <7):
  print(number)
  number = number + 1

0
1
2
3
4
5
6

In [ ]:
number = 0
while (number < 7):
  print (number)
  number = number + 2

0
2
4
6

In [ ]:
for number in range (0, 7, 2):
  print(number)

0
2
4
6

In [ ]:
number = 0
while (number < 7):
  print(number)
  number = number+1

0
1
2
3
4
5
6

---
---

### üìçüìç Jump Statements in Python (break, continue and pass)

- Using for loops and while loops in Python allow you to automate and repeat tasks in an efficient manner.

- But sometimes, an external factor may influence the way your program runs. When this occurs, you may want your program to exit a loop completely, skip part of a loop before continuing, or ignore that external factor.
- You can do these actions with break and continue statements.

#### 1. Break Statement
- In Python, the break statement provides you with the opportunity to exit out of a loop when an external condition is triggered.

- You‚Äôll put the break statement within the block of code under your loop statement, usually after a conditional if statement.

- The break statement causes a program to break out of a loop.


Let‚Äôs look at an example that uses the break statement in a for loop:

In [ ]:
number = 0

for number in range (10):
  if number == 5:
    continue #continue here

  print('Number is ' + str(number))

print ('out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
out of loop

Problem statement:

*in the following example, user wil enter the password, which is OTP which is set to be 1232.
* if the OTP matches, it will ask user to provide details like Enter Your NameL and Enter your City, and user will re-enter the OTP
*in the fourth trial, it will print one trial left

In [ ]:
OTP = "1232"

for trial in range (1,5):

  if trial == 4:
    print('One Trial Left!!!')

    enter_otp = input ("Enter OTP: ")

    if enter_otp != OTP:
      print("Try Again !!")
      continue

    else: name = input("Enter Your Name: ")
    city_name = input("Enter Your City: ")
    break

One Trial Left!!!
Enter OTP: 1232
Enter Your Name: Sarika
Enter Your City: Centreville

- The difference in using the continue statement rather than a break statement is that our code will continue despite the disruption when the variable number is evaluated as equivalent to 5.


---

####  Pass Statement

- pass is a null operation ‚Äî when it is executed, nothing happens.

- It is useful as a placeholder when a statement is required syntactically, but no code needs to be executed.

- The pass statement tells the program to disregard that condition and continue to run the program as usual.


Using the same code block as above, let‚Äôs replace the break or continue statement with a pass statement:

In [ ]:
number = 0

for number in range (10):
  if number == 5:
    pass

  print ('Number is ' + str(number))

print ('Out of Loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of Loop

---
---

<center><h1> üìç üìç DATA STRUCTURE - LIST üìç üìç </h1></center>



---

***Creating a list***

---

In [ ]:
#creating a list
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

access elements within the index

In [ ]:
my_list[1]

2

In [ ]:
#negative index - second last element in the list
my_list[-2]

9

list slicing

In [ ]:
# all elements
my_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# same result using the double colon
my_list[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#slice list with step 2
my_list[::2]

[1, 3, 5, 7, 9]

In [ ]:
#list from index 2 upto 5 with step 1
my_list[2:5:1]

[3, 4, 5]

In [ ]:
# list from index 2 upto 5 with step 2
my_list[2:5:2]

[3, 5]

In [ ]:
# list from index 3 to second last index
my_list[2:-2]

[3, 4, 5, 6, 7, 8]

In [ ]:
# reverse the list using step value as -1
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

append an element to the list

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list.append(3)

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]

In [ ]:
#append multiple elements to the list
my_list.append([1,2])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2]]

you can see that it has created a nested list when used append method, you can add multiple elemnts to the list by using extend function

In [ ]:
my_list.extend([2,2,3,4,])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

search for an element in the list

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [ ]:
#find out the index of an element in the list if present
my_list.index(4)

3

insert an element in the list

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [ ]:
my_list.insert(1,'w')

In [ ]:
my_list

[1, 'w', 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [ ]:
my_list.insert(4,'python')

In [ ]:
my_list

[1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

---

***Check if the particular element is present in the list or not.***

We will use `in` or `not in` to get the answers of these type of queries. These `in` and `not in` are also called as `membership operators.`

---

In [ ]:
90 in my_list

False

In [ ]:
[1,2] in my_list

True

In [ ]:
[117] not in my_list

True

remove an element from the list

In [ ]:
my_list

[1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [ ]:
del my_list[0]
my_list

['w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

Iterate the List

In [ ]:
# iterate a list
for element in my_list:
  print(element)

w
2
3
python
4
5
6
7
8
9
10
3
[1, 2]
2
2
3
4

In [ ]:
my_list

['w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

some predefined method on list

In [ ]:
# create another random list
my_list_2 = [1,33,3432,232,1]

In [ ]:
len(my_list_2)

5

In [ ]:

my_list_2

[1, 33, 3432, 232, 1]

In [ ]:
my_list_2.reverse()
my_list_2

[1, 232, 3432, 33, 1]

In [ ]:
my_list_2.sort()
my_list_2

[1, 1, 33, 232, 3432]

In [ ]:
# another way of sorting a list
sample_list = [2,33,42,1,34,35]
sorted(sample_list)

[1, 2, 33, 34, 35, 42]

nested list
* some or all of the elements in the list are also of type list

In [ ]:
#define a sample nested list

my_list_3 = [1, 2, [1, 2, 1], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

In [ ]:
# length of my list
len([1, 2, [1, 2, 1], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']])

6

In [ ]:
# second element is a single element
my_list_3[1]

2

In [ ]:
#look at the type of different elements of the list
type(my_list_3[3])

list

In [ ]:
# third element is of type list
my_list_3[3]

['A', 'B', 'C']

In [ ]:
# access element with negative index
my_list_3[-3][-1]

'C'

In [ ]:
##!apt-get install wkhtmltopdf -y

---

# Problem Statement: üìùüìù

* ***üéìüéì Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. üéìüéì The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***

üìçüìç

   * üôá Who scored the highest marks in the subject B?

In [ ]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [ ]:
# access the first index of the list.

student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

In [ ]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

now, the student marks are in order A,B,C,D, and E. and we need to access teh value at index 1 to get the marks in subject B

In [ ]:
student_marks[1][1][1]

34

In [ ]:
for student in student_marks[1:]:
  name = student[0]
  marks = student[1][1]
  print(f"{name} got {marks} in subject B")

Ankit got 34 in subject B
Aravind got 23 in subject B
Lakshay got 23 in subject B
Gyan got 82 in subject B
Pranav got 23 in subject B

In [ ]:
# list to store the marks

student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]

    student_with_marks_in_B.append([marks_in_B,name])

In [ ]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [ ]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

In [ ]:
# get the final index of the sorted list

sorted(student_with_marks_in_B)[-1][1]

'Gyan'

---

## Data Structure - Tuple üìçüìç




* We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.


---

---
---

<center><h1> Data Structure - Set üìçüìç </h1></center>

---

#### Defining a set in Python

---

In [1]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4}

In [2]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [5]:

my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 2}

In [6]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

#### Defining a set from a List  and Tuple

---

In [11]:
my_list = ['A', 'B', 1, 2, 'B', 'A']
my_list
#i could have appended or extended the list

['A', 'B', 1, 2, 'B', 'A']

In [12]:
my_set_from_list = set(my_list)

In [13]:
my_set_from_list
#duplicates removed

{1, 2, 'A', 'B'}

In [17]:
my_tuple = ('A', 'B', 1, 2, 'B', 'A')
my_tuple

('A', 'B', 1, 2, 'B', 'A')

In [18]:
my_set_from_tuple = set(my_tuple)

In [20]:
my_set_from_tuple
# duplicates removed

{1, 2, 'A', 'B'}

#### Add an element to the set

---

In [21]:
my_set.add('O')

In [22]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

#### Delete an element from the list

* Discard - It will not throw an error, if the element you want to remove is not present in the set.
* remove - It will throw an error, if the element you want to remove is not present in the set.

---

In [24]:
my_set.discard('A')

In [25]:
my_set.remove('A')

KeyError: 'A'

In [ ]:
#error bc the term is not present in the set

In [26]:
my_set.discard('A')
#no error bc the term has already been removed

#### Difference between two Sets

## A-B

![](images/difference.png)
---

In [27]:
#set 1
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [28]:
#Set 2
my_set_from_list

{1, 2, 'A', 'B'}

In [29]:
# difference of 2 sets
my_set.difference(my_set_from_list)

{4, 'C', 'D', 'E', 'O'}

In [30]:
# it will not update the results, if not stored in a variable
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [31]:
#use the difference_update to store the results directly
my_set.difference_update(my_set_from_list)

In [32]:
my_set

{4, 'C', 'D', 'E', 'O'}

#### Intersection of two sets


![](images/intersection.png)

---

In [35]:
#Set 1
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [37]:
# Set 2
my_set_from_list

{1, 2, 'A', 'B'}

In [38]:
my_set.intersection_update(my_set_from_list)

In [39]:
my_set

{1, 2, 'A', 'B'}

In [ ]:
#this makes them matching to the intersection......

#### Other operations on set

* is_disjoint
* is_subset
* is_superset
* union

---

In [40]:
# define 3 random sets
sample_set_1 = {'A', 'B', 'C', 'D', 'E', 'F'}
sample_set_2 = {'A', 'D', 'E'}
sample_set_3 = {'S', 'T', 'U'}

In [41]:
sample_set_1.isdisjoint(sample_set_2)
# true if there are no common elements
# false if there are common elements

False

In [42]:
sample_set_1.isdisjoint(sample_set_3)

True

In [43]:
sample_set_2.issubset(sample_set_1)

True

In [44]:
sample_set_3.issuperset(sample_set_1)

False

In [45]:
sample_set_3.issubset(sample_set_1)

False

In [46]:
sample_set_1.union(sample_set_3)
# have to save the union for it to stick

{'A', 'B', 'C', 'D', 'E', 'F', 'S', 'T', 'U'}

In [47]:
sample_set_1.update('C','D', 'E', 'R', 'Z')

In [48]:
sample_set_1

{'A', 'B', 'C', 'D', 'E', 'F', 'R', 'Z'}

#### Iterate the set

---

In [49]:
# Iterate the set
for element in sample_set_1:
    print(element)

R
E
F
Z
D
B
A
C

---
---
## Data Structure: Dictionaryüñäüñä

* Dictionary is also a mutable collection. But as you have seen in the list the indexes of the list are integer numbers. Here, indexes for dictionaries can use many different data types, not just integers.
* Indexes for dictionaries are called keys, and a key with its associated value is called a key-value pair.
* Items in the dictionaries are unordered. You can find out the first item in a list simply like my_list[0]. But there is no ‚úñÔ∏è ‚Äúfirst‚Äù item in a dictionary.
*  ‚òëÔ∏è Note: Dictionaries in Python 3.7 and later will remember the insertion order of their key-value pairs if you create a sequence value from them. But these are still unordered, as you can‚Äôt access items in them using integer indexes.
* When we check whether the 2 lists are same or not the order of values in the list matters. It does not matter in what order the key-value pairs are typed in a dictionary.

üìçüìç
---

üìçüìç ***Defining a dictionary in Python*** üìçüìç

In [50]:
# define a dictionary
'''
{
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    .
    .
    .
    .
    'key_n' : 'value_n'
}
'''
# define the key value pairs
my_dictionary = {
    'name'       : 'abc',
    'age'        :  21,
    'roll_no'    : 'CSE100',
    'percentage' :  85,
    'attendance' :  74,
    'city'       : 'gurugram',
    'country'    : 'india'
}

In [51]:
# access key of the dictionary
print('Name is : ',my_dictionary['name'])

Name is :  abc

In [53]:
print('Age before updation is : ',my_dictionary['age'])

# update value of the key
my_dictionary['age'] = 25

print('Age after updation is : ',my_dictionary['age'])

Age before updation is :  25
Age after updation is :  25

In [54]:
# get the keys of the dictionary

my_dictionary.keys()

dict_keys(['name', 'age', 'roll_no', 'percentage', 'attendance', 'city', 'country'])

In [55]:
# get the values of the dictionary

my_dictionary.values()

dict_values(['abc', 25, 'CSE100', 85, 74, 'gurugram', 'india'])

In [56]:
# update dictionary with a dictionary

my_dictionary.update({ 'pincode' : 122015, 'last_name' : 'xyz'})

In [57]:
my_dictionary

{'name': 'abc',
 'age': 25,
 'roll_no': 'CSE100',
 'percentage': 85,
 'attendance': 74,
 'city': 'gurugram',
 'country': 'india',
 'pincode': 122015,
 'last_name': 'xyz'}

---

üìçüìç ***Add new key to the dictionary*** üìçüìç

---

In [59]:
# add new key to the dictionary:
my_dictionary['new_key'] = 'new_value'

print(my_dictionary)

{'name': 'abc', 'age': 25, 'roll_no': 'CSE100', 'percentage': 85, 'attendance': 74, 'city': 'gurugram', 'country': 'india', 'pincode': 122015, 'last_name': 'xyz', 'new_key': 'new_value'}

---

***üìçüìç Dictionary Keys üìçüìç***

---

---

***Most of the data types can be used as keys in Dictionaries***

---

In [61]:
sample = {
    'string' : 'string',
    10       : 'integer',
    1.5      : 'float',
    False    : 'boolean'
}

---

***üìçüìç `Duplicate keys` üìçüìç***

---

In [63]:
sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3
}

In [64]:
sample['A']

1

In [ ]:
sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3,
    'A' : 100
}

In [65]:
sample['A']

1

***If we add duplicate keys, it will not throw an error instead it will overwrite the value which is added in the last.***

---

---

***üìçüìç A dictionary key must be of a type that is immutable. üìç üìç***

---

In [66]:
# list is mutable, hence not allowed
sample = {
    1 : 'integer',
    [1, 2] : 'list'
}

TypeError: unhashable type: 'list'

In [67]:
# set is mutable, hence not allowed

sample = {
    1 : 'integer',
    { 1, 2 } : 'set'

}

TypeError: unhashable type: 'set'

In [68]:
# tuple is immutable, hence it is allowed
sample = {
    1 : 'integer',
    (1, 2) : 'tuple'
}

---

üìçüìç ***Compare 2 dictionaries by changing their order.*** üìçüìç

---

In [70]:
my_dict_1 = {
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    'key_3' : 3
}

my_dict_2 = {
    'key_3' : 3,
    'key_1' : 'value_1',
    'key_2' : 'value_2'
}

(my_dict_1 == my_dict_2)

True

---

üìçüìç ***Iterate through key-value pairs of the dictionary*** üìçüìç

---

In [69]:
# Iterate through key-value pairs of the dictionary

for key,value in my_dictionary.items() :
    print(key,value)

name abc
age 25
roll_no CSE100
percentage 85
attendance 74
city gurugram
country india
pincode 122015
last_name xyz
new_key new_value

---

üìçüìç ***Sort the dictionary by key*** üìçüìç

---

In [71]:
m_dict = {
    'KL Rahul' : 45,
    'Rohit'    : 22,
    'Virat'    : 31,
    'Dhawan'   : 17,
    'Rishabh'  : 10
}

In [ ]:
sorted(m_dict.items())

---

üìçüìç ***Sort the dictionary by values*** üìçüìç

    * We will see this when we will study lambda expressions.

---